services:
  flask_app:
    build: .
    container_name: youtube_sentiment_flask
    ports:
      - "5002:5002"
    environment:
      MLFLOW_TRACKING_URI: "http://ec2-44-213-77-221.compute-1.amazonaws.com:5000"
      AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
      AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"
      AWS_DEFAULT_REGION: "us-east-1"
    volumes:
      - ./logs:/app/logs